
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <%- include('./partials/header'); %>
    <ul>
        <% for(var i=0; i<data.products.length; i++) {%>
            <li>
                ID: <%= data.products[i].id %>, Name: <%= data.products[i].name %>, Description: <%= data.products[i].description %>, Price: <%= data.products[i].price %>
                <form action="addToCart" method="post">
                    <input type="hidden" name="id" value=<%= data.products[i].id%>>
                    <input type="hidden" name="name" value=<%= data.products[i].name%>>
                    <input type="hidden" name="price" value=<%= data.products[i].price%>>
                    <button type="submit">Add to Cart</button>
                </form>
            </li>
        <% } %>
        <%- include('./partials/footer'); %>
    </ul>
</body>
</html>